source/myXSD.xsd

<?xml version="1.0"?>
<xsi:schema
        targetNamespace="http://www.phpStudy.net"
        xmlns="http://www.phpStudy.net"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xsi:element name="note">
        <xsi:complexType>
            <xsi:sequence>
                <xsi:element name="to" type="xsi:string"/>
                <xsi:element name="from" type="xsi:string"/>
                <xsi:element name="heading" type="xsi:string"/>
                <xsi:element name="body" type="xsi:string"/>
            </xsi:sequence>
        </xsi:complexType>
    </xsi:element>

</xsi:schema>